
body {
    counter-reset: theorem lemma, figures;
}

figure {
    position: relative;
    margin: 0;
    padding: .5em;
    width: 100%;
    border: thin solid gainsboro;
    background: white;
    width: 100%;
}
  
figcaption {
    padding: .8em;
    text-align: left;
    counter-reset: figures;
    font-style: italic;
}
figcaption:before {
    content: "Figure " counter(figures) ": ";
    counter-increment: figures;
    font-weight: bold;
    font-style: normal;
}



.theorem {
    display: block;
    margin: 12px 0;
    counter-reset: theo;
    font-style: italic;
    padding-left: 10px;
    border-left:10px solid;
    border-color: rgb(51, 46, 74);
    background-color: rgb(235, 235, 235);
}
.theorem:before {
    content: "Theorem " counter(theorem);
    counter-increment: theorem;
    font-weight: bold;
    font-style: normal;
}



.lemma {
    display: block;
    margin: 12px 0; 
    font-style: italic;
    padding-left: 10px;
    border-left:10px solid;
    border-color: rgb(51, 46, 74);
    background-color: rgb(235, 235, 235);
}
.lemma:before {
    content: "Lemma " counter(lemma);
    counter-increment: lemma;
    font-weight: bold;
    font-style: normal;
}
.proof {
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.proof:before {
    content: "Proof.";
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}
.definition {
    display: block;
    margin: 12px 0;
    font-style: normal;
    padding-left: 10px;
    border-left:10px solid;
    border-color: rgb(51, 46, 74);
    background-color: rgb(235, 235, 235);
}
.definition:before {
    content: "Definition " ;
    font-weight: bold;
    font-style: normal;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }